ion-card-title {
  font-weight: bold;
  font-size: 100%;
}

.divSVG {
  height: 300px;
  overflow: auto;
  text-align: center;
  background-color: rgba(51, 126, 172, 0.09);
}

.divZoomButton {
  display: inline-grid;
  position: absolute;
  margin: 5px;
}

.ion-no-padding {
  height: 30px;
  width: 30px;
}
