<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Prenota Posto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card (swiperight)="handleSwipe()">
    <ion-item lines="full">
      <ion-label color="primary">
        Scegli il piano
      </ion-label>
      <ion-button (click)="mostraPiani()" fill="outline" color="tertiary">
        Lista piani
      </ion-button>
    </ion-item>

    <ion-item lines="none" *ngIf="pianoSelezionato.length">
      <ion-label color="primary">
        Scegli la stanza
      </ion-label>
      <ion-button (click)="mostraStanze()" fill="outline" color="tertiary">
        Lista stanze
      </ion-button>
    </ion-item>
  </ion-card>

  <ion-card *ngIf="stanzaSelezionata.length">
    <div class="divZoomButton">
      <ion-button
        (click)="zoomIn(50, true)"
        fill="outline"
        size="small"
        class="ion-no-padding"
        [color]="zoom < 400 ? 'secondary' : 'medium'"
        [disabled]="zoom >= 400"
      >
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button
        (click)="zoomOut(50, true)"
        fill="outline"
        size="small"
        class="ion-no-padding"
        [color]="zoom > 100 ? 'secondary' : 'medium'"
        [disabled]="zoom <= 100"
      >
        <ion-icon name="remove" slot="icon-only"></ion-icon>
      </ion-button>
    </div>
    <div class="divSVG" id="oggettoSVG">
      <!-- QUI C'È LA PLANIMETRIA -->
    </div>
  </ion-card>

  <ion-card (swiperight)="handleSwipe()" *ngIf="stanzaSelezionata.length">
    <ion-card-header>
      <ion-card-title class="ion-text-center">
        <ion-icon ios="ios-hand" md="md-hand" color="warning"></ion-icon>
        <br />
        Seleziona una postazione e scegli i giorni in cui vuoi prenotare quel
        posto.
      </ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
