ion-button {
  color: "primary";
  margin: 10px 20px;
}
ion-card-title {
  font-weight: bold;
  font-size: 100%;
  display: grid;
  vertical-align: middle;
}
ion-icon {
  margin: auto;
  font-size: large;
}
