<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Smart Working</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header class="ion-text-center" (swiperight)="handleSwipe()">
      <ion-label
        style="font-weight: bold;"
        color="primary"
        class="ion-text-center"
        >Pianifica il tuo Smart Working
      </ion-label>
    </ion-card-header>
    <ion-calendar
      (change)="onChange($event)"
      [options]="options"
      type="string"
      format="YYYY-MM-DD"
    >
    </ion-calendar>
    <ion-button expand="block" (click)="onClickPrenotaSW()">
      Pianifica
    </ion-button>
  </ion-card>

  <ion-card (swiperight)="handleSwipe()">
    <ion-card-header>
      <ion-card-title class="ion-text-center">
        <ion-icon ios="ios-warning" md="md-warning" color="warning"></ion-icon>
        <ion-label style="font-size: small"> Ricorda che puoi scegliere al massimo 2 giorni di Smart Working a settimana </ion-label> 
      </ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
