<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Gestione Progetti
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
 <div class = "row center">
  <ion-col>
      <ion-card>
          <ion-card-header>
          <ion-card-title style=" text-align: center;"> <ion-label color="primary" padding >Cerca progetto </ion-label></ion-card-title>
          </ion-card-header>
          <ion-card-content >
          <ion-item style="align-items: center;">
              <ion-searchbar></ion-searchbar>
          </ion-item>
          <ion-item *ngFor='let nome of names '>
              <ion-icon name="albums"></ion-icon>
              <ion-label padding (click)=goAnOtherPage() name="progettoX">{{nome}}</ion-label>
          </ion-item>
          </ion-card-content>
          </ion-card>
  
  </ion-col>
  </div>
  <ion-button expand="block"  (click)="goAnOtherPage()"  name="bottoneInsert" #InserisciDip>Inserisci un nuovo progetto

  </ion-button>
</ion-content>
