<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Progetti
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card (swiperight)="handleSwipe()">
    <ion-item lines="none">
      <ion-label color="primary">
        Seleziona un progetto
      </ion-label>
      <ion-button (click)="mostraProgetti()" fill="outline" color="tertiary">
        Lista progetti
      </ion-button>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-card-header class="ion-text-center" (swiperight)="handleSwipe()">
      <ion-label
        style="font-weight: bold;"
        color="primary"
        class="ion-text-center"
      >
        Seleziona il giorno in cui visualizzare lo Smart Working
      </ion-label>
    </ion-card-header>
      <ion-calendar
      (change)="onChange($event)"
      [options]="options"
      type="string"
      format="YYYY-MM-DD"
      *ngIf="progettoSelezionato.length"
    >
    </ion-calendar>

  </ion-card>
  <ion-card *ngIf="visualizzareDipendenti" (swiperight)="handleSwipe()">
    <ion-card-header class="ion-text-center">
      <ion-label
        style="font-weight: bold;"
        color="primary"
        class="ion-text-center"
      >
        Dipendenti in Smart Working il {{giorno}}
      </ion-label>
    </ion-card-header>

    <ion-list>
      <ion-item *ngFor="let item of items" lines="none">
        {{item.number}} {{item.title}}
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card *ngIf="!visualizzareDipendenti && progettoSelezionato.length" (swiperight)="handleSwipe()">
    <ion-card-header class="ion-text-center">
      <ion-label
        style="font-weight: bold;"
        color="primary"
        class="ion-text-center"
      >
        Dipendenti in Smart Working
      </ion-label>
    </ion-card-header>
    <ion-list>
      <ion-item lines="none">
        Selezionare un giorno
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card (swiperight)="handleSwipe()">
    <ion-card-header class="ion-text-center">
      <ion-label
        style="font-weight: bold;"
        color="primary"
        class="ion-text-center"
      >
        Blocca un giorno di Smart Working
      </ion-label>
    </ion-card-header>
    <ion-button
      id="btnBloccaGiorno"
      expand="block"
      class="ion-margin"
      [color]="progettoSelezionato.length ? 'danger' : 'medium'"
      [disabled]="!progettoSelezionato.length"
      (click)="notifications($event)"
    >
      Apri calendario
    </ion-button>
  </ion-card>
</ion-content>
