<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title >
     Gestione progetti
    </ion-title>
  
  </ion-toolbar>
</ion-header>
<body>
<ion-content  padding>

  <div style="margin-top:5%">
  <ion-card padding>
  <ion-card-header>
              <ion-card-title>
                  <ion-item lines="none" style=" font-size: 50px; " text-center>
                       <ion-icon name="document" color="primary"  style=" font-size: 50px; "></ion-icon>  <ion-label color="primary" padding>Inserisci un nuovo progetto</ion-label>
                    </ion-item>
              </ion-card-title> 
                </ion-card-header>
    
    <form #f="ngForm" (ngSubmit)="onSubmit(f)"  class="ui form">
       <ion-col  size-lg="4" offset-lg="4" size-md="6" offset-md="3">
              <ion-list >
               
                <ion-item  class="input-item">
                   
                  <ion-input color=primary placeholder="Enter Name..." name="name" type="name" required
                  ngModel></ion-input>
                  
                </ion-item>

                <ion-item  class="input-item">
              
                    <ion-input color=primary placeholder="Enter Description..." name="description" type="description" required
                    ngModel></ion-input>
                  
                </ion-item>
                
                <ion-item>
                  <ion-label>Manager</ion-label>
                  <ion-select interface="action-sheet" style="width: 1000px !important;" (ionChange)="onChange($event)">
                    <ion-select-option *ngFor="let item of list" [value]="item.id">{{item.nome}} {{item.cognome + ","}}
                      {{item.email}}</ion-select-option>
                  </ion-select>
                </ion-item>
                
              </ion-list>
            </ion-col>  
      <ion-button  type="submit" expand="block" class="ion-margin" style="margin-left: 30%; margin-right: 30%;">  Inserisci </ion-button>   
                  
    </form>

      
   
      </ion-card>   
  </div>
  

</ion-content>
</body>
