<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title >
     Gestione progetti
    </ion-title>
  
  </ion-toolbar>
</ion-header>
<body>
<ion-content  padding>

  <div style="margin-top:5%">
  <ion-card padding *ngIf="inserisci">
  <ion-card-header>
              <ion-card-title>
                  <ion-item lines="none" style=" font-size: 50px; " text-center>
                       <ion-icon name="document" color="primary"  style=" font-size: 50px; "></ion-icon>  <ion-label color="primary" padding>Inserisci un nuovo progetto</ion-label>
                    </ion-item>
              </ion-card-title> 
                </ion-card-header>
    
    <form #f="ngForm" (ngSubmit)="onSubmit(f)"  class="ui form">
       <ion-col  size-lg="4" offset-lg="4" size-md="6" offset-md="3">
              <ion-list >
               
                <ion-item  class="input-item">
                
                
                   
                  <ion-input color=primary placeholder="Enter Scope..." name="scope" type="scope" required
                  ngModel></ion-input>
                  
                </ion-item>
                <ion-item  class="input-item">
              
                    <ion-input color=primary placeholder="Enter Description..." name="description" type="description" required
                    ngModel></ion-input>
                  
                </ion-item>
                <ion-item  class="input-item">
                  
                    <ion-input color=primary placeholder="Enter Manager..." name="manager" type="manager" required
                    ngModel ></ion-input>
                  
                </ion-item>
               
                 <ion-item>
                    <ion-label>State</ion-label>
                    <ion-toggle slot="start"  checked name="state" required
                    ngModel=false></ion-toggle>
                </ion-item>
                
              </ion-list>
            </ion-col>  
      <ion-button  type="submit" expand="block" class="ion-margin" style="margin-left: 30%; margin-right: 30%;">  Inserisci </ion-button>   
                  
    </form>

      
   
      </ion-card>   
  </div>
  <!--<div>
    <ion-card padding *ngIf="associa">
      <ion-card-header>
                  <ion-card-title>
                      <ion-item lines="none" style=" font-size: 50px; " text-center>
                           <ion-icon name="document" color="primary"  style=" font-size: 50px; "></ion-icon>  <ion-label color="primary" padding>Dipendenti associati</ion-label>
                      </ion-item>
                  </ion-card-title> 
      </ion-card-header>
      <ion-card>
      
                  <ion-card-content >
                  
                  <ion-item *ngFor='let nome of names '>
                      <ion-icon name="person"></ion-icon>
                    <ion-label padding >{{nome}}</ion-label>
                  </ion-item>
                  </ion-card-content>
  </ion-card>
    </ion-card>
  </div>
   <div>
    <ion-card padding *ngIf="associa">
      <ion-card-header>
                  <ion-card-title>
                      <ion-item lines="none" style=" font-size: 50px; " text-center>
                           <ion-icon name="document" color="primary"  style=" font-size: 50px; "></ion-icon>  <ion-label color="primary" padding>Associa dipendenti a progetto</ion-label>
                        </ion-item>
                  </ion-card-title> 
                    </ion-card-header>
        
        
          <ion-col  size-lg="4" offset-lg="4" size-md="6" offset-md="3">
                  <ion-list >
                   
                    <ion-item *ngFor='let nome of names '>  
                      <ion-label padding name="dip" >{{nome}}</ion-label>
                       
                                               
                      <ion-checkbox color="primary" slot="end"  >
                    
                       
                      </ion-checkbox>
                      
                    </ion-item>
                    
                  </ion-list>
                </ion-col>
              </ion-col>  
                <ion-card>
                  <ion-card-header>
                  <ion-card-title style=" text-align: center;"> <ion-label color="primary" padding >Cerca dipendenti </ion-label></ion-card-title>
                  </ion-card-header>
                  <ion-card-content >
                  <ion-item style="align-items: center;">
                      <ion-searchbar></ion-searchbar>
                  </ion-item>
                  <ion-item *ngFor='let nome of names '>
                      <ion-icon name="person"></ion-icon>
                    <ion-label padding >{{nome}}</ion-label>
                  </ion-item>
                  </ion-card-content>
                  </ion-card>
          
          
          <ion-button  type="submit" expand="block" class="ion-margin" style="margin-left: 30%; margin-right: 30%;">  Aggiungi </ion-button>   
                      
     
    
          
       
          </ion-card>
  </div>-->

</ion-content>
</body>
