<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div>
    <ion-title>
      <ion-icon name="people" ></ion-icon> Gestione Dipendenti
    </ion-title>
  </div>
  </ion-toolbar>
</ion-header>
<body>
<ion-content  padding>

  <div style="margin-top:5%">
  <ion-card padding>
  <ion-card-header>
              <ion-card-title>
                  <ion-item lines="none" style=" font-size: 50px; " text-center>
                       <!--ion-icon name="people" color="primary"  style=" font-size: 50px; "></ion-icon--><ion-label color="primary" padding> Inserisci un nuovo dipendente</ion-label>
                    </ion-item>
              </ion-card-title> 
                </ion-card-header>
    
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
       <ion-col  size-lg="4" offset-lg="4" size-md="6" offset-md="3">
              <ion-list >
               
                <ion-item  class="input-item">
                
                
                   
                  <ion-input  color=primary  placeholder="Enter Name..." name="name" type="name"required
                  ngModel ></ion-input>
                  
                </ion-item>
                <ion-item  class="input-item">
              
                    <ion-input color=primary placeholder="Enter Surname..." name="surname" type="surname" required
                    ngModel ></ion-input>
                  
                </ion-item>
                <ion-item  class="input-item">
                  
                    <ion-input   color=primary placeholder="Enter E-mail..." name="email" type="email"  
                    required
                    ngModel                  
                  ></ion-input>
                  
                </ion-item>
                
                 <ion-item lines="none" style="margin-right: 70%;  position: relative;" >
                   
                    <p >Dipendnete/Manager</p>
                    <ion-toggle slot="start" name="manager"  required ngModel=false></ion-toggle>
                 
                    
                </ion-item>
                
              </ion-list>
            </ion-col>
            <div class="col-sm">
              
      <ion-button  type="submit"  expand="block" class="ion-margin col-sm" margin-horizontal style="margin-left: 30%; margin-right: 30%;">  Inserisci </ion-button>        
    </div>           
    </form>

      
   
      </ion-card>   
  </div>


</ion-content>
</body>
