.divider {
  min-block-size: auto;
}

ion-item {
  #riga1 {
    --padding: 0px;
    --inner-padding-end: 0px;
  }
}

#cardData {
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgba(51, 126, 172, 0.09);
}
