<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Calendario Dipendenti
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content (swiperight)="handleSwipe()">
  <ion-card>
    <ion-item lines="none">
      <ion-label color="primary">
        Seleziona un progetto
      </ion-label>
      <ion-button (click)="mostraProgetti()" fill="outline" color="tertiary">
        Lista progetti
      </ion-button>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-header class="ion-text-center">
      <ion-label
        style="font-weight: bold;"
        color="primary"
        class="ion-text-center"
      >
        Lista dipendenti del progetto x con abilitazione SW
      </ion-label>
    </ion-card-header>

    <ion-list>
      <ion-item lines="none">
        <div>
          <div class="riga1">
            <ion-grid class="ion-no-padding">
              <ion-row class="ion-align-items-center">
                <ion-col size="8">
                  1) Piero Della Francescaaaaa
                </ion-col>
                <ion-col size="4">
                  <ion-button
                    (click)="onClickDettagliSW()"
                    fill="outline"
                    color="tertiary"
                    style="float: right;"
                  >
                    Dettagli
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
          <div class="riga2">
            <ion-grid class="ion-no-padding" *ngIf="click">
              <ion-col>
                <ion-row style="justify-content: space-between !important;">
                  <ion-card
                    class="ion-no-margin ion-padding"
                    style="margin-bottom: 10px;"
                    >12/21/20</ion-card
                  >
                  <ion-card
                    class="ion-no-margin ion-padding"
                    style="margin-bottom: 10px;"
                    >13/21/20</ion-card
                  >
                  <ion-card
                    class="ion-no-margin ion-padding"
                    style="margin-bottom: 10px;"
                    >14/21/20</ion-card
                  >
                  <ion-card
                    class="ion-no-margin ion-padding"
                    style="margin-bottom: 10px;"
                    >15/21/20</ion-card
                  >
                  <ion-card
                    class="ion-no-margin ion-padding"
                    style="margin-bottom: 10px;"
                    >16/21/20</ion-card
                  >
                  <ion-card
                    class="ion-no-margin ion-padding"
                    style="margin-bottom: 10px;"
                    >17/21/20</ion-card
                  >
                  <ion-card
                    class="ion-no-margin ion-padding"
                    style="margin-bottom: 10px;"
                    >18/21/20</ion-card
                  >
                </ion-row>
              </ion-col>
              <ion-col>
                <ion-button
                  class="ion-padding"
                  (click)="onClickBloccaSW()"
                  color="danger"
                  expand="block"
                >
                  Blocca Sw
                </ion-button>
              </ion-col>
            </ion-grid>
          </div>
        </div>
      </ion-item>
      <ion-item-divider class="divider"></ion-item-divider>
    </ion-list>
  </ion-card>
</ion-content>
