<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Calendario Dipendenti
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content (swiperight)="handleSwipe()">
  <ion-card>
    <ion-item lines="none">
      <ion-label color="primary">
        Seleziona un progetto
      </ion-label>
      <ion-button (click)="mostraProgetti()" fill="outline" color="tertiary">
        Lista progetti
      </ion-button>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-header class="ion-text-center">
      <ion-label
        style="font-weight: bold;"
        color="primary"
        class="ion-text-center"
      >
        Lista dipendenti del progetto {{nomeProgettoSelezionato}}
      </ion-label>
    </ion-card-header>

    <ion-list>
      <ion-item lines="none" *ngFor="let item of items">
        <div>
          <div class="riga1">
            <ion-grid class="ion-no-padding">
              <ion-row class="ion-align-items-center">
                <ion-col size="8">
                  {{item.number}}) {{item.nome}} {{item.cognome}}
                </ion-col>
                <ion-col size="4">
                  <ion-button
                    (click)="onClickDettagliSW(item.number - 1)"
                    fill="outline"
                    color="tertiary"
                    style="float: right;"
                  >
                    Dettagli
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
          <div class="riga2">
            <ion-grid class="ion-no-padding" *ngIf="click[item.number - 1]">
              <ion-col>
                <ion-row style="justify-content: space-between !important;">
                  <ion-card
                    class="ion-no-margin ion-padding"
                    style="margin-bottom: 10px; padding-left: 10px; padding-right: 10px;"
                    *ngFor="let data of item.dates"
                    >{{data}}</ion-card
                  >
                </ion-row>
              </ion-col>
              <ion-col>
                <ion-button
                  class="ion-padding"
                  (click)="onClickBloccaSW(item.uid, item.nome, item.cognome, item.number - 1)"
                  expand="block"
                  [disabled]="impedisciSW[item.number - 1]"
                  [color]="impedisciSW[item.number - 1] ? 'medium' : 'danger'"
                >
                  Impedisci SW
                </ion-button>
              </ion-col>
            </ion-grid>
          </div>
        </div>
      </ion-item>
      <ion-item-divider class="divider"></ion-item-divider>
    </ion-list>
  </ion-card>
</ion-content>
