<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Calendario Dipendenti
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content (swiperight)="handleSwipe()">
  <ion-card>
    <ion-item lines="none">
      <ion-label color="primary">
        Seleziona un progetto
      </ion-label>
      <ion-button (click)="mostraProgetti()" fill="outline" color="tertiary">
        Lista progetti
      </ion-button>
    </ion-item>
  </ion-card>

  <ion-card *ngIf="!progettoSelezionato.length">
    <ion-card-header class="ion-text-center">
      <ion-label
        style="font-weight: bold;"
        color="primary"
        class="ion-text-center"
      >
        Lista dipendenti
      </ion-label>
    </ion-card-header>
    <ion-list>
      <ion-item lines="none">
        Selezionare un progetto
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card *ngIf="progettoSelezionato.length">
    <ion-card-header class="ion-text-center">
      <ion-label
        style="font-weight: bold;"
        color="primary"
        class="ion-text-center"
      >
        Lista dipendenti del progetto {{nomeProgettoSelezionato}}
      </ion-label>
    </ion-card-header>

    <ion-list>
      <ion-item lines="full" *ngFor="let item of items">
        <div style="width: 100%;">
          <div class="riga1">
            <ion-item lines="none" class="ion-no-padding" id="riga1">
              <ion-label>
                {{item.number}}) {{item.nome}} {{item.cognome}}
              </ion-label>
              <ion-button
                (click)="onClickDettagliSW(item.number - 1)"
                fill="outline"
                slot="end"
                color="tertiary"
              >
                Dettagli
              </ion-button>
            </ion-item>
          </div>
          <div class="riga2" *ngIf="!impedisciSW[item.number - 1]">
            <ion-grid class="ion-no-padding" *ngIf="click[item.number - 1]">
              <ion-col>
                <ion-row style="justify-content: space-between !important;">
                  <ion-card
                    class="ion-no-margin ion-padding"
                    style="margin-bottom: 10px; padding-left: 10px; padding-right: 10px;"
                    *ngFor="let data of item.dates"
                    >{{data}}</ion-card
                  >
                </ion-row>
              </ion-col>
              <ion-col>
                <ion-button
                  (click)="onClickBloccaSW(item.uid, item.nome, item.cognome, item.number - 1)"
                  expand="block"
                  [disabled]="impedisciSW[item.number - 1]"
                  [color]="impedisciSW[item.number - 1] ? 'medium' : 'danger'"
                  style="height: 35px;"
                >
                  Impedisci SW
                </ion-button>
              </ion-col>
            </ion-grid>
          </div>
          <div
            class="riga2"
            *ngIf="impedisciSW[item.number - 1] && click[item.number - 1]"
            style="padding: 10px 0;"
          >
            <label style="color: var(--ion-color-medium);"
              >Non ci sono giorni di SW</label
            >
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
