.div_general {
  margin: 20px;
}
.div_mayor {
  margin-bottom: 20px;
  width: auto;
  margin: auto;
  height: 200px auto;
  border-radius: 10px;
}
.input-item {
  padding: 3px;
  margin-top: 20px !important;
  border-radius: 10px;
  border-style: solid;
  border-color: var(--ion-color-secondary);
}

ion-button {
  height: 45px;
  margin-top: 20px !important;
}
