<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header class="ion-text-center">
      <ion-label style="font-weight: bold;" color="primary">La tua vista settimanale
      </ion-label>
    </ion-card-header>
    <ion-list>
      <ion-item *ngFor="let item of items">
        <div style="margin-right: 10px;">
          <ion-icon [name]="item.icon"></ion-icon>
        </div>
        <div>
          <div>
            <ion-label> {{item.title}}
            </ion-label>
          </div>
          <div *ngIf="click" style="font-size: 12px;">
            <ion-label id="notaPosto"> {{item.note}}
            </ion-label>
          </div>
        </div>
        <ion-button (click)="itemClick()" slot="end" fill="outline">
          Dettagli</ion-button>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-calendar (change)="onChange($event)" [options]="options" type="string" format="YYYY-MM-DD">
    </ion-calendar>
  </ion-card>
</ion-content>