<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card (swiperight)="handleSwipe()">
    <ion-card-header class="ion-text-center">
      <ion-label style="font-weight: bold;" color="primary"
        >La tua vista settimanale
      </ion-label>
    </ion-card-header>
    <ion-list>
      <ion-item *ngFor="let item of items" lines="full">
        <div style="margin-right: 10px;">
          <ion-icon [name]="item.icon" color="secondary"></ion-icon>
        </div>
        <div>
          <div>
            <ion-label><b>{{item.title}}</b></ion-label>
          </div>
          <div style="font-size: 12px;">
            <ion-label id="notaPosto"> {{item.note}} </ion-label>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-calendar
      (change)="onChange($event)"
      [options]="options"
      type="string"
      format="YYYY-MM-DD"
    >
    </ion-calendar>
  </ion-card>
</ion-content>
