<ion-app mode="ios">
  <ion-split-pane contentId="my-content">
    <ion-menu type="overlay" contentId="my-content" *ngIf="internet">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{ p.title }}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle class="onlyManager" auto-hide="false" *ngFor="let p of appPagesManager">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{ p.title }}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item (click)="logout()" button>
              <ion-icon slot="start" [name]="'log-out'"></ion-icon>
              <ion-label>
                Logout
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main id="my-content" *ngIf="internet"></ion-router-outlet>

    <ion-header *ngIf="!internet">
      <ion-toolbar color="primary">
        <ion-title>Smart Working</ion-title>
      </ion-toolbar>
      <ion-img src="../../assets/img/no-connection.png"></ion-img>
    </ion-header>
  </ion-split-pane>
</ion-app>
