<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Gestione Dipendenti
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class = "row center">
<ion-col>
    <ion-card>
        <ion-card-header>
        <ion-card-title style=" text-align: center;"> <ion-label color="primary" padding >Cerca dipendenti </ion-label></ion-card-title>
        </ion-card-header>
        <ion-card-content >
        <ion-item style="align-items: center;">
            <ion-searchbar></ion-searchbar>
        </ion-item>
        <ion-item *ngFor='let nome of names '>
            <ion-icon name="person"></ion-icon>
          <ion-label padding>{{nome}}</ion-label>
       
                    <ion-toggle slot="end"  name="manager"  required ngModel=false ></ion-toggle>
                    Manager
        </ion-item>
        </ion-card-content>
        </ion-card>

</ion-col>
</div>

            

<ion-button expand="block" (click)="goAnOtherPage()" style=" margin-left: 30%; margin-right: 30%;">Inserisci un nuovo dipendente
 </ion-button>
</ion-content>
